<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlickrKinectPhotoFun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FlickrKinectPhotoFun.Properties.Settings>
            <setting name="textDelayTimeinSec" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="photoDisplayTimeMinSec" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="photoDisplayTimeMaxSec" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="maximumDownloadTimeoutSec" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="imageScaleMultiplier" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="flickrAPIKey" serializeAs="String">
                <value>f9592cc4a06c185dd198673fd430e4f5</value>
            </setting>
            <setting name="flickrSharedSecret" serializeAs="String">
                <value>7e750c3e4665a9ec</value>
            </setting>
        </FlickrKinectPhotoFun.Properties.Settings>
    </applicationSettings>
</configuration>